<!DOCTYPE html>
<html>
	<head>
		<title>$blogtitle$</title>
		<link rel="stylesheet" type="text/css" href="/css/slog.css" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	<body>
		<header>
			<!-- <div id="banner">$blogtitle$</div> -->
			<div id="navigation">
				<ul>
					<li><a href="/index.html">$blogtitle$</a>
					<li><a href="/lancelot_six.pdf" target="_blank">CV</a>
					<li><a href="/recherche.html">Recherche</a>
					<li><a href="/contact.html">Contact</a>
					<li><a href="/archives.html">Archives</a>
				</ul>
			</div>
		</header>
		<div id="body">
			<div id="content_wrapper">
				<main>
					$body$
				</main>
				<footer>
					<ul>
						<li>Généré avec <a href="http://jaspervdj.be/hakyll/" target="_blank">hakyll</a> le $buildDate$</li>
						<li><a href="http://www.haskellers.com/user/3566"><img src="/images/badge-haskeller.png" alt="I'm a Haskeller"></a></li>
					</ul>
					<div>
						PGP: <code>ABB5 B55C 9A3A 6A28 9724  8BDC 02E1 542B A66F B047</code> (<a href="/pub.txt">clé publique</a>)
					</div>
				</footer>
			</div>
		</div>
	</body>
</html>
