<!DOCTYPE html>
<html>
	<head>
		<title>$blogtitle$</title>
		<link rel="stylesheet" type="text/css" href="/css/slog.css" />
		<meta http-equiv="Content-Type" content="test/html; charset=UTF-8" />
	</head>
	<body>
		<div id="header">
			<!-- <div id="banner">$blogtitle$</div> -->
			<div id="navigation">
				<a href="/index.html">$blogtitle$</a>
				<a href="/lancelot_six.pdf" target="_blank">CV</a>
				<a href="/recherche.html">Recherche</a>
				<a href="/contact.html">Contact</a>
				<a href="/archives.html">Archives</a>
			</div>
		</div>
		<div id="body">
			<div id="content_wrapper">
				<div id="content">
					$body$
				</div>
				<div id="footer">
					<ul>
						<li>Généré avec <a href="http://jaspervdj.be/hakyll/" target="_blank">hakyll</a></li>
						<li><a href="http://www.haskellers.com/user/3566"><img src="http://www.haskellers.com/static/badge.png" alt="I'm a Haskeller">
</a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
